/* media query  to bakery */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  h1 {
    font-weight: 400;

    font-size: 50px;
  }

  .header .contain p {
    font-size: 15px;
  }

  .header .contain span {
    font-size: 15px;
  }

  .header .contain .button1 {
    padding: 15px 20px;
    border: 1px solid #bba36a;
  }

  .header .contain .button2 {
    padding: 15px 20px;
    border: 1px solid white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  h1 {
    font-weight: 400;

    font-size: 50px;
  }

  .header .contain p {
    font-size: 20px;
  }

  .header .contain span {
    font-size: 15px;
  }

  .header .contain .button1 {
    padding: 15px 20px;
    border: 1px solid #bba36a;
  }

  .header .contain .button2 {
    padding: 15px 20px;
    border: 1px solid white;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  h1 {
    font-weight: 200;

    font-size: 3.125rem;
  }

  .header .contain p {
    font-size: 1.25rem;
  }

  .header .contain {
    padding-top: 270px;
  }

  .header .contain span {
    font-size: 15px;
  }

  .header .contain .button1 {
    padding: 15px 20px;
    border: 1px solid #bba36a;
  }

  .header .contain .button2 {
    padding: 15px 20px;
    border: 1px solid white;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  h1 {
    font-weight: 400;

    font-size: 4.75rem;
    margin: 1.25rem 0;
  }

  .header .contain p {
    font-size: 1.5rem;
    color: white;
  }

  .header .contain {
    text-align: center;
    color: white;
    padding-top: 270px;
  }

  .header .contain span {
    font-size: 20px;
  }

  .header .contain .button1 {
    background-color: #bba36a;
    color: white;
    padding: 1.0625rem 25px;
    border: 2px solid #bba36a;
    border-radius: 7px;
    margin-top: 1.5625rem;

    font-weight: bold;
  }

  .header .contain .button2 {
    background-color: transparent;
    color: white;
    padding: 1.0625rem 1.375rem;
    border: 0.125rem solid white;
    border-radius: 0.3125rem;
    margin-top: 1.5625rem;
    font-weight: bold;
  }
}

/* media query to section2 */
@media screen and (max-width: 600px) {
  .description {
    flex-direction: column;

    padding: unset;
  }

  .description .picture {
    width: 100%;
  }

  .description .picture img {
    margin-left: unset;
  }

  .description .defination {
    width: 100%;
  }

  .description .defination h2 {
    font-size: 28px;
  }

  .description .defination p {
    font-size: 15px;
  }

  .description .defination img {
    width: 30px;
    height: 30px;
  }

  .description .defination span {
    margin-top: 6px;
    margin-left: 5px;
  }

  li {
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }
}

@media screen and (min-width: 600px) {
  .description {
    flex-direction: column;

    padding: unset;
  }

  .description .picture {
    width: 100%;
  }

  .description .picture img {
    margin-left: unset;
  }

  .description .defination {
    width: 100%;
  }

  .description .defination h2 {
    font-size: 28px;
  }

  .description .defination p {
    font-size: 15px;
  }

  .description .defination img {
    width: 30px;
    height: 30px;
  }

  .description .defination span {
    margin-top: 6px;
    margin-left: 5px;
  }

  li {
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .description {
    flex-direction: column;
    padding: unset;
  }

  .description .picture {
    width: 100%;
  }

  .description .picture img {
    margin-left: unset;
  }

  .description .defination {
    width: 100%;
  }

  .description .defination h2 {
    font-size: 28px;
  }

  .description .defination p {
    font-size: 15px;
  }

  .description .defination img {
    width: 30px;
    height: 30px;
  }

  .description .defination span {
    margin-top: 6px;
    margin-left: 5px;
  }

  li {
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .description {
    flex-direction: row;
    padding: 50px;
    margin: 20px;
  }

  .description .picture {
    width: 40%;
  }

  .description .picture img {
    margin-left: unset;
  }

  .description .defination {
    width: 50%;
  }

  .description .defination h2 {
    font-size: 28px;
  }

  .description .defination p {
    font-size: 15px;
  }

  .description .defination img {
    width: 30px;
    height: 30px;
  }

  .description .defination span {
    margin-top: 6px;
    margin-left: 5px;
  }

  li {
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .location {
    flex-direction: column;
  }
  .location .container {
    width: 100%;
  }
  .location-img {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .location {
    flex-direction: column;
  }
  .location .container {
    width: 100%;
  }
  .location-img {
    width: 100%;
    margin-top: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .location {
    flex-direction: column;
  }
  .location .container {
    width: 100%;
  }
  .location-img {
    width: 100%;
    margin-top: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .location {
    flex-direction: row;
  }
  .location .container {
    width: 50%;
  }
  .location-img {
    width: 45%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .types .items .type {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .types .items .type {
    width: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 600px) {
  .types .items .type {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .types .items .type {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .types .items .type {
    width: 33%;
  }
}

/* media query */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .connection {
    margin: unset;
    padding: unset;
  }

  .connection .information {
    width: 100%;
  }

  .map-picture {
    width: 100%;
  }

  .map-picture img {
    margin-left: unset;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .connection {
    margin: unset;
    padding: unset;
  }

  .connection .information {
    width: 100%;
  }

  .map-picture {
    width: 80%;
    margin: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .connection {
    margin: unset;
    padding: unset;
  }

  .connection .information {
    width: 100%;
  }

  .map-picture {
    width: 90%;
    margin-left: 30px;
  }

  .map-picture img {
    margin-left: unset;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .connection {
    background-color: #f8f8f8;
    padding: 80px 80px;
    margin-bottom: 30px;
  }

  .connection .information {
    width: 50%;
  }

  .map-picture {
    width: 40%;
  }

  .map-picture img {
    height: 600px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .footer-top .footer-main .footer-about {
    width: 100%;
  }
  .footer-top .footer-main .footer-special {
    width: 100%;
  }

  .footer-openning {
    width: 100%;
  }

  .footer-top .footer-main .footer-details {
    width: 100%;
  }

  .footer-bottom {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .footer-top .footer-main .footer-about {
    width: 100%;
    padding: 1.25rem;
  }
  .footer-top .footer-main .footer-special {
    width: 100%;
    padding: 1.25rem;
  }

  .footer-openning {
    width: 100%;
    padding: 1.25rem;
  }

  .footer-top .footer-main .footer-details {
    width: 100%;
    padding: 1.25rem;
  }

  .footer-bottom {
    width: 100%;
    padding: 1.25rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .footer-top .footer-main .footer-about {
    width: 50%;
    padding: unset;
  }
  .footer-top .footer-main .footer-special {
    width: 50%;
    padding: unset;
  }

  .footer-openning {
    width: 50%;
    padding: unset;
  }

  .footer-top .footer-main .footer-details {
    width: 50%;
    padding: unset;
  }

  .footer-bottom {
    width: 100%;
    padding: unset;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .footer-top .footer-main .footer-about {
    width: 50%;
    padding: unset;
  }
  .footer-top .footer-main .footer-special {
    width: 50%;
    padding: unset;
  }

  .footer-openning {
    width: 50%;
    padding: unset;
  }

  .footer-top .footer-main .footer-details {
    width: 50%;
    padding: unset;
  }

  .footer-bottom {
    width: 100%;
    padding: unset;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .footer-top .footer-main .footer-about {
    width: 25%;
    padding: unset;
  }
  .footer-top .footer-main .footer-special {
    width: 25%;
    padding: unset;
  }

  .footer-openning {
    width: 25%;
    padding: unset;
  }

  .footer-top .footer-main .footer-details {
    width: 25%;
    padding: unset;
  }

  .footer-bottom {
    width: 100%;
    padding: unset;
  }
}
