body {
  margin: 0;
}

/* section1 */
.header {
  background-image: url(../images/drew-coffman2-1872.jpg);

  background-size: cover;

  height: 100vh;
}

h1 {
  font-weight: 400;

  font-size: 4.75rem;
  margin: 1.25rem 0;
}

.header .contain p {
  font-size: 1.5rem;
  color: white;
}

.header .contain {
  text-align: center;
  color: white;
  padding-top: 270px;
}

.header .contain span {
  font-size: 20px;
}

.header .contain .button1 {
  background-color: #bba36a;
  color: white;
  padding: 1.0625rem 25px;
  border: 2px solid #bba36a;
  border-radius: 7px;
  margin-top: 1.5625rem;

  font-weight: bold;
}

.header .contain .button2 {
  background-color: transparent;
  color: white;
  padding: 1.0625rem 1.375rem;
  border: 0.125rem solid white;
  border-radius: 0.3125rem;
  margin-top: 1.5625rem;
  font-weight: bold;
}

/* section2 */

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin: 20px;
}
.description .picture {
  width: 45%;
}
.picture img {
  width: 100%;
  margin-top: 25px;
  margin-left: 50px;
}

.description .defination {
  width: 45%;
}

.description .defination h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  margin-left: 40px;
}

.description .defination p {
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
  margin-left: 40px;
  color: rgb(104, 104, 104);
}

.description .defination img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid gray;
}

.description .defination span {
  margin-top: 6px;
  margin-left: 5px;
  color: rgb(104, 104, 104);
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

/* section3 */

.location {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 3.125rem;
  margin: 1.25rem;
  background-color: #f8f8f8;
}

.location .container {
  width: 50%;
}
.location-img {
  width: 45%;
}
.location .container h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}

.location .container p {
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(104, 104, 104);
}

.location .location-img img {
  width: 100%;
}

/* section4 */

.types {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
}

.types h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
}

.types p {
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(104, 104, 104);
}

.types .items .type {
  width: 33%;

  float: left;
  text-align: center;
}

.types .items .type img {
  width: 90%;
  margin-top: 50px;
}

.types .items .type h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.clear-fix {
  clear: both;
}

/* section5 */

.connection {
  background-color: #f8f8f8;
  padding: 5rem 5rem;
  margin-bottom: 1.875rem;
  margin: auto;
}

.connection .information {
  float: left;
  width: 50%;
}

.connection .information h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  margin-left: 2.5rem;
}

.connection .information p {
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  margin-left: 2.5rem;
  margin-bottom: 2.1875rem;
  color: rgb(104, 104, 104);
}

.connection .information img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #8e7754;
  background-color: #8e7754;
}

.connection .information span {
  margin-top: 0.1875rem;
  margin-left: 0.9375rem;
  margin-bottom: 0.625rem;
  color: rgb(104, 104, 104);
}

.connection .information .details {
  margin-left: 2.8125rem;
}

.map-picture {
  width: 40%;
  float: left;
}

.map-picture img {
  width: 100%;
  margin-top: 1.5625rem;
  margin-left: 3.125rem;
}

/* section6 */

.footer-top {
  background-color: #403d38;
  padding-bottom: 50px;
}
.footer-main {
  height: 50vh;
}
.footer-top .footer-main .footer-about {
  width: 25%;
  float: left;
  background-color: #403d38;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(255, 255, 255);
  padding-left: 50px;
}
.footer-top .footer-main .footer-about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(150, 150, 150);
  padding-left: 50px;
}

.footer-top .footer-main .footer-special {
  background-color: #403d38;
  width: 25%;
  float: left;
  /* padding-bottom: 53px; */
}

.footer-top .footer-main .footer-special ul li {
  color: rgb(150, 150, 150);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  border-bottom: solid rgb(150, 150, 150) 1px;
}

.footer-openning {
  width: 25%;
  background-color: #403d38;
  float: left;
}
.footer-top .footer-main .footer-openning ul li {
  color: rgb(150, 150, 150);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  border-bottom: solid rgb(150, 150, 150) 0.2px;
}

.footer-top .footer-main .footer-details {
  width: 25%;
  float: left;

  /* padding-bottom: 50px; */

  background-image: url(../images/contact-details-map.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #403d38;
  background-position: center 120px;
}
.footer-top .footer-main .footer-details img {
  width: 40px;
  height: 40px;
}
.footer-top .footer-main .footer-details ul li {
  color: rgb(150, 150, 150);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  border-bottom: solid rgb(150, 150, 150) 0.2px;
}

.footer-bottom {
  background-color: #353330;

  padding-bottom: 100px;
  text-align: center;
}

.footer-bottom .foot-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #403d38;
}

.footer-bottom .bakery-image img {
  width: 353px;
  padding-top: 50px;
}

.footer-bottom .foot-p {
  color: rgb(150, 150, 150);
  margin: 30px 0;
}
